<!DOCTYPE HTML>
<html>
  <head>
	  <meta charset="utf-8"/>
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../Js/Main.js"></script>
    <script src="../Js/Couleur.js"></script>
    <script src="../Js/MatrixAbs.js"></script>
    <script src="../Js/Matrix.js"></script>
    <script src="../Js/Image.js"></script>
    <script src="../Js/Image_NvGris.js"></script>
    <script src="../Js/Point.js"></script>
    <script src="../Js/VectorD.js"></script>
    <script src="../Js/EnsembleVect.js"></script>
    <script src="../Js/VectImg.js"></script>
    <script src="../Js/CompoConnex.js"></script>
    <script src="../Js/BezierSetup.js"></script>
    <script src="../Js/VectImgV2.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="col-md-offset-4  col-md-8">
          <h1>Projet POO2 Automne 2016</h1>
        </div>
      </div>
      <div class="row">
  		  <div class="col-md-3" id="Option">
          <div class="row">
            <input type="file" id="inputfile">
          </div>
          <div class="row">
            <button id="commitImg">Go !</button>
          </div>
          <div class="row">
            <button id="Filter">Sobel</button>
          </div>
          <div class="row">
            <input id="PrecVect" type="number" value="1"/>
          </div>
          <div class="row">
            <button id="InputVect">Vectorisation</button>
          </div>
  			  <div class="row">
  				  <div class="col-md-4">
  					<span class="glyphicon glyphicon-plus" id="PlusSeuil"></span>
  				  </div>
  				  <div class="col-md-6">
  					<p id="ValueSeuil">Seuil : </p>
  				  </div>
  				  <div class="col-md-1">
  					<span class="glyphicon glyphicon-minus" id="MinusSeuil"></span>
  				  </div>
  			</div>
  				<div class="row">
  						<input id="SliderSeuil" type="range" max="255" min="0" step="1"/>
  				</div>
  		  </div>
  		  <div class="col-md-9">
          <div class="row" id="main">
          </div>
          <div class="row">
            <canvas id="Vect"></canvas>
          </div>
  		  </div>
      </div>
    </div>
  </body>
</html>
