input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]::after,
input[type="range"]::before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]::before {
    left:0em;
    content: attr(min);
}
input[type="range"]::after {
    right: 0em;
    content: attr(max);
}
.title{
    background-color: #105d9f;
    color: aliceblue;
    text-align: center;
    height: 100px;
    overflow: hidden;
}
#imgVect{
    text-align: center;
}
.btnWithSpace{
    margin-top: 2px;
    margin-bottom: 2px;
}
.sideMenu{
    background-color: ##FEFEFE;
    min-height: 1080px;
    min-width: : 300px;
}
.centeredWhite{
    text-align: center;
    background-color: white;
}
#SliderSeuil{

}
svg{
    margin-left: 40%;
    margin-right: 40%;
}
#Vect{
    position: relative;
    z-index: -1;
}
img{
    margin-top: 10px;
}
canvas{
    margin-top: 10px;
}
.choixFichier{
  overflow: hidden;
  max-width: 260px;
}
#ValueSeuil{
  text-align: center;
}
.container{
  min-height: 1080px;
}
